<div class="header_container">
    <a href="/" data-navigo>
        <img src="../assets/logo/witnessLogo.svg" alt="company logo"
    /></a>
    <ul class="header_rightside">
        <!-- hamburger menu or menu list comes here depending on screen size -->
    </ul>
</div>
<div class="menu_container_overlay">
    <button class="menu_btn_close menu-toggle">&times;</button>

    <ul class="menu_list">
        <!-- menu list component comes here-->
    </ul>

    <ul class="menu_externalLinks">
        <!-- external links component comes here -->
    </ul>
</div>
