<div class="header_container">
    <a href="/" data-navigo>
        <img src="../assets/logo/witnessLogo.svg" alt="company logo"
    /></a>
    <ul class="header_rightside">
        <!-- hamburger menu or menu list comes here depending on screen size -->

        <!-- <div class="hamburger-menu menu-toggle">
            <svg width="25" height="25">
                <image href="./img/menubar.svg" width="100%" height="100%" />
            </svg>
        </div>

        OR
        <li class="menu_li home">home</li>
        <li class="menu_li news">news</li>
        <li class="menu_li contact">contact</li> -->
    </ul>
    <div class="menu_container_overlay">
        <button class="menu_btn_close menu-toggle">&times;</button>

        <ul class="menu_list">
            <!-- menu list component comes here-->

            <!-- <li class="menu_li">home</li>
            <li class="menu_li">news</li>
            <li class="menu_li">contact</li> -->
        </ul>
        <ul class="menu_externalLinks">
            <!-- external links component comes here -->

            <!-- <li class="links">
                <i class="fa-brands fa-facebook"></i>
            </li>
            <li class="links">
                <i class="fa-brands fa-instagram"></i>
            </li>
            <li class="links">
                <i class="fa-brands fa-linkedin"></i>
            </li> -->
        </ul>
    </div>
</div>
